
body {
  padding: 2em;
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;
}

[aria-hidden="true"] {
  display: none;
}

p:last-child {
  margin-bottom: 0;
}

aria-accordion {
  display: block;
  padding: 1em;
  border: 1px solid #ccc;
}

aria-accordion h2 {
  margin: 0;
}
